:host{
    section{
        margin-top: 5rem;
    }
    .seaction-header{
        display: flex;
        justify-content: space-around;
    }
    .data-container{
        max-width: 72%;
        margin: 2rem auto;
        label{
            font-weight: 600;
        }
    }
    .next-btn{
        margin-left: 15px;
    }
}