<a routerLink="/stocks" class="link-primary">Back</a>

<section>
    <div class="seaction-header">
        <div class="btn-wrapper">
            <button (click)="getPrevDetails()" class="btn btn-primary" [disabled]="indexInSearchStack<=0"><<</button>
            <button (click)="getNextDetails()" class="btn btn-primary next-btn" [disabled]="indexInSearchStack>=searchStack.length-1">>></button>
        </div>
    
        <div class="range-wrapper">
            <label for="dataRefreshRange">Data Refresh Time(between 1 and 50) minute:</label>
            <input type="range" id="dataRefreshRange" [value]="timeToRetainCache" name="dataRefreshRange" min="1" max="50" (change)="updateDataRefereshTime($event)">
        </div>
    </div>
<div *ngIf="stockDetails" class="data-container">
    <div>
        <label>Company Name: </label>
        <span> {{stockDetails.Name}}</span>
    </div>
    <div>
        <label>Company Symbol: </label>
        <span> {{stockDetails.Symbol}}</span>
    </div>
    <div>
        <label>Description: </label>
        <p>{{stockDetails.Description}}</p>
    </div>
    <!-- <div>
        <label>Current Price:</label>
        <p>{{stockDetails.}}</p>>
    </div> -->
    <!-- <div>
        <label>Change its trade on:</label>
        <p>{{stockDetails.}}</p>>
    </div> -->
    <div>
        <label>Industry: </label>
        <span> {{stockDetails.Industry}}</span>
    </div>
    <div>
        <label>PE Ration: </label>
        <span> {{stockDetails.PERatio}}</span>
    </div>
    <div>
        <label>Market Cap: </label>
        <span> {{stockDetails.MarketCapitalization}}</span>
    </div>
</div>
</section>