:host{
    button {
        border-radius: 0;
        margin-left: 10px;
    }
    .content-container{
        position: relative;
        height: 100vh;
    }
    .auto-complete-wrapper{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        form{
            display: flex;
        }
    }

    .alert{
        padding: 5px;
        border-radius: 0;
        margin-top: 2rem;
    }
}