<div class="content-container">
  <div class="auto-complete-wrapper">
    <form (ngSubmit) = "submitAutoComplete($event)">
      <div class="ng-autocomplete">
        <ng-autocomplete
          [data]="data"
          [searchKeyword]="keyword"
          (selected)="selectEvent($event)"
          (inputChanged)="onChangeSearch($event)"
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate"
          (inputCleared) = "inputCleared()"
          [placeholder]="'Search by company symbol'"
          [isLoading]="showLoader"
        >
        </ng-autocomplete>
    
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item['1. symbol']"></a>
        </ng-template>
    
        <ng-template #notFoundTemplate let-notFound>
          <div *ngIf="!showLoader && searchText" [innerHTML]="notFound"></div>
        </ng-template>
      </div>
      <button type="button" class="btn btn-success" type="submit">Search</button>
    </form>
    <div class="alert alert-danger" role="alert" *ngIf="showErr">
      Opps.Searched item not found!
    </div>
  </div>
</div>
